@model IEnumerable<dynamic>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Navbar">
        <div class="container">
            <div class="logo-container">
                <a class="navbar-brand" href="#">
                    <img class="logo-img" src="/images/logo-k.svg" alt="Logo">
                </a>
            </div>

            <div class="order-0 order-lg-3 d-flex gap-2 align-items-center">
                <button type="button" class="btn btn-link">
                    <i class="bi bi-search" style="font-size: 2rem; color: white;"></i>
                </button>

                <button type="button" class="btn btn-link">
                    <i class="bi bi-cart" style="font-size: 2rem; color: white;"></i>
                </button>

                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="navbar-collapse d-lg-flex collapse" id="navbars">

                <ul class="navbar-nav fs-6 fw-bold justify-content-lg-center flex-grow-1 mb-2">
                    @foreach (var item in Model)
                    {
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["page"]?.ToString() == item.Page ? "active" : "")" asp-page="@item.Page">
                                @item.Text
                            </a>
                        </li>
                    }
                </ul>


                <div class="d-lg-flex flex-stretch-1 justify-content-lg-end">
                    <form role="search" class="d-flex d-md-none d-lg-none align-items-center me-lg-2 mb-3 mb-md-0">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
                    </form>

                    <div class="d-grid d-lg-flex gap-2 align-items-center me-lg-2">
                        <button class="btn btn-primary fw-bold">Sign in</button>
                        <button class="btn btn-secondary fw-bold">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>