@page
@model ContactModel
@{
    ViewData["Title"] = "Contact us";
}

<div class="contact">
    <!-- Contact Info and Form Section -->
    <div class="container">
        <div class="row flex-lg-row-reverse align-items-center py-5 my-5">
            <!-- Contact Information -->
            <div class="col-lg-6 order-1 order-lg-0">
                <div class="d-flex flex-column justify-content-center px-5 offset-lg-3">
                    <div class="text-center text-lg-start mb-5">
                        <h5 class="fs-2 fw-bold">Chat with us</h5>

                        <div class="d-flex align-items-center justify-content-center justify-content-lg-start mb-2">
                            <i class="fs-4 bi bi-telephone pe-2"></i>
                            <p class="fs-5 fw-bold mb-0"><a class="text-decoration-none" href="tel:0212345678">(021) 234-5678</a></p>
                        </div>

                        <div class="d-flex align-items-center justify-content-center justify-content-lg-start mb-2">
                            <i class="fs-4 bi bi-envelope pe-2"></i>
                            <p class="fs-5 fw-bold mb-0"><a class="text-decoration-none" href="mailto:sales@khumalocraft.com">sales@khumalocraft.com</a></p>
                        </div>

                        <div class="d-flex align-items-center justify-content-center justify-content-lg-start mb-4">
                            <i class="fs-4 bi bi-geo-alt-fill pe-2"></i>
                            <p class="fs-5 fw-bold mb-0">
                                301, Emporium Road <br>
                                Cape Town CBD <br>
                                Western Cape, South Africa <br>
                                8001
                            </p>
                        </div>
                    </div>

                    <!-- Social Media Links -->
                    <div class="text-center text-lg-start">
                        <h5 class="fs-2 fw-bold">Find us on</h5>
                        <div class="d-flex gap-4 justify-content-center justify-content-lg-start">
                            <a href="#"><i class="fs-1 bi bi-facebook"></i></a>
                            <a href="#"><i class="fs-1 bi bi-twitter"></i></a>
                            <a href="#"><i class="fs-1 bi bi-instagram"></i></a>
                            <a href="#"><i class="fs-1 bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contact Form -->
            <div class="col-lg-6 order-0 order-lg-1 mb-5">
                <form>
                    <div class="form-group mb-4">
                        <label class="fw-bold">Name</label>
                        <input type="text" class="form-control" placeholder="Enter name">
                    </div>

                    <div class="form-group mb-4">
                        <label class="fw-bold">Email</label>
                        <input type="email" class="form-control" placeholder="Enter email">
                    </div>

                    <div class="form-group mb-4">
                        <label class="fw-bold">Contact</label>
                        <input type="text" class="form-control" placeholder="Enter contact number">
                    </div>

                    <div class="form-group mb-4">
                        <label class="fw-bold">Message</label>
                        <textarea class="form-control" rows="5" placeholder="Write your message"></textarea>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Additional Sections -->
    <div>
        @await Html.PartialAsync("Shared/Components/_FeaturedItems.cshtml", Model.ProductList)
    </div>

    <div>
        @await Html.PartialAsync("Shared/Components/_FeaturedInfo.cshtml")
    </div>

    <div>
        @await Html.PartialAsync("Shared/Components/_InfoBanner.cshtml")
    </div>
</div>
