@page
@model KhumaloCraft.Pages.Work.IndexModel
@{
    ViewData["Title"] = "My Work";
}

<!-- Hero Section -->
<section class="py-5 text-center bg-dark text-white">
    <div class="container py-5">
        <h1 class="display-4 fw-bold mb-4">Discover Our Handcrafted Products</h1>
        <p class="lead mb-5">Meticulously handcrafted by talented artisans from Southern Africa, our unique products reflect the vibrant culture and spirit of our nation, with a global appeal.</p>
    </div>
</section>


<section>
    @await Html.PartialAsync("../Shared/Components/_ProductItems.cshtml", Model.ProductList)
</section>


<!-- Info Banner -->
<section class="py-5 bg-primary text-white">
    <div class="container py-5">
        <div class="row align-items-center justify-content-center text-center text-lg-start">
            <div class="col-lg-8">
                <h2 class="display-4 fw-bold">Elevate Your Space with Artisanal Craft</h2>
                <p class="lead mb-4">Our unique, handcrafted products blend traditional artistry with modern design. Discover how these exceptional pieces can elevate your living space or office.</p>
                <a href="/Contact" class="btn btn-light btn-lg fw-bold">Add your collection</a>
            </div>
        </div>
    </div>
</section>
