@{
    var random = new Random();
    var randomImage = random.Next(0, 15);
    var sculptures = new[]
    {
        new { ImgName = "1", Name = "Naledi Gaze", Description = "Naledi Gaze is a stunning wooden sculpture of an owl, expertly carved from a single piece of a rich, dark wood Ebony. The artist’s attention to details brings the bird to life, from the delicate feathers to the piercings eyes.", Price = 120.00m },
        new { ImgName = "2", Name = "Whispering Wings", Description = "Whispering wings is a charming wooden sculpture of western screech-Owl, expertly carved from a single piece of soft, gray wood. The artist’s attention to details brings the small owl to life, as it perches quietly, its wings folded, exuding a sense of gentle wisdom.", Price = 1500.00m },
        new { ImgName = "3", Name = "Catnap", Description = "A cozy, Catnap is a captivating wooden sculpture of a cat gazing, expertly carved from a single piece of warm, golden wood. The artist’s attention to details brings the cat to life, from the delicate whiskers to the relaxed contented expression.", Price = 1000.00m },
        new { ImgName = "4", Name = "Hoppy Sindile", Description = "Hoppy Sindile is a delightful wooden sculpture of a kangaroo in mid-hop, expertly carved from a single piece of rich, Walnut wood. The artist’s attention to details brings the marsupial to life, from the powerful hind legs to the joyful, carefree expression.", Price = 750.00m },
        new { ImgName = "5", Name = "Uhlanga Lwenyoni", Description = "This handcrafted wooden art piece, 'Uhlanga Lwenyoni,' showcases a captivating fusion of traditional African artistry and natural elegance. Skillfully carved from rich, durable wood, it features intricate tribal patterns and vibrant hand-painted accents.", Price = 1400.00m },
        new { ImgName = "6", Name = "Azure Blue Jay Songster", Description = "Azure Blue Jay Songster is a vibrant wooden sculpture of a blue jay in mid-song, expertly carved from a single piece of rich, blue-stained wood. The artist’s attention to detail brings the bird to life from the intricate feathers to the joyful, open beak.", Price = 500.00m },
        new { ImgName = "7", Name = "Nightshade", Description = "Nightshade is a stunning wooden sculpture on an Owl grasping a branch, highlighting the bird's fierce strength and precision. The artist’s attention to detail brings the scene to life, from the owl’s wise eyes to the intricate texture of the branch.", Price = 800.00m },
        new { ImgName = "8", Name = "Playful Kid", Description = "Playful Kid is a charming wooden sculpture of a little goat, expertly carved from a single piece of warm, golden wood. The artist’s attention to details brings the playful goat to life, from its curious expression to its agile legs.", Price = 300.00m },
        new { ImgName = "9", Name = "Dekeledi", Description = "Dekeledi is a playful wooden sculpture of a little rabbit, expertly carved from a single piece of soft, white pine wood. The artist's attention to details brings the humorous scene to life, as the rabbit appears stuck, its little legs stuck and eyes glazing.", Price = 900.00m },
        new { ImgName = "10", Name = "Curios Curlew", Description = "Curios Curlew is a delightful wooden sculpture of a bird with its long nose, expertly carved from a single piece of warm, golden wood. The artist's attention to details brings life to the bird, as it sniffs and explores its surroundings with its uniquely shaped beak.", Price = 1200.00m },
        new { ImgName = "11", Name = "Bombastic Glance", Description = "Bombastic Glance is a captivating wooden sculpture of a partridge bird, expertly carved from a single piece of warm, golden wood. The artist's attention to details brings the bird to life, as it turns its head away, lost in thought.", Price = 600.00m },
        new { ImgName = "12", Name = "Moonlight Guardian", Description = "Moonlight Guardian is a majestic wooden sculpture of the Great Horned Owl, expertly carved from a single piece of rich, white wood. The artist’s attention to detail brings the powerful bird to life, as it stands watchful and wise, bathed in the soft glow of the moon.", Price = 60.00m },
        new { ImgName = "13", Name = "Sightless Peace", Description = "Sightless Peace is a thought-provoking wooden sculpture of a doll with no eyes. Carved from a single piece of smooth, pale wood. The artist’s attention to details brings the doll to life, despite its lack of eyes, conveying a sense of peacefulness and inner sight.", Price = 50.00m },
        new { ImgName = "14", Name = "Fluffy Friend", Description = "Fluffy Friend is a delightful wooden sculpture of a little rabbit, expertly carved from a single piece of soft, white Basswood. The artist’s attention to details brings the adorable rabbit to life, from its twitching whiskers to its cuddly, rounded body.", Price = 140.00m },
        new { ImgName = "15", Name = "Wise Madala", Description = "Wise Madala is a majestic wooden sculpture of an old owl, carved from a single piece of rich dark wood. The artist's attention to details brings the wise bird to life, from its knowing gaze to its weathered, aged feathers.", Price = 190.00m }
    };

    var usedIndices = new HashSet<int> { randomImage };
}

<div class="row align-items-md-center border py-5">
    <div class="col-12 col-lg-6 d-flex flex-column align-items-center">
        <h4 class="fs-2 fw-bold mb-4">Featured Products</h4>
        <img src="~/images/product-items/@(sculptures[randomImage].ImgName).png" alt="Sculpture @(sculptures[randomImage].Name)" height="350" class="border shadow" />
        <h4 class="fs-6 fw-semibold mb-0 text-body-emphasis">@(sculptures[randomImage].Name)</h4>
    </div>

    <div class="col-12 col-lg-6">
        <div class="row row-cols-2 row-cols-sm-3">
            @for (int i = 1; i < 7; i++)
            {
                int imageNumber;

                do
                {
                    imageNumber = random.Next(0, 15);
                } while (usedIndices.Contains(imageNumber));
                
                usedIndices.Add(imageNumber);

                <div class="col d-flex flex-column gap-2 align-items-center g-5">
                    <img class="shadow border" src="~/images/product-items/@(sculptures[imageNumber].ImgName).png" alt="Handmade Craft @(sculptures[imageNumber].Name)" height="150" />
                    <h4 class="fs-6 fw-semibold mb-0 text-body-emphasis">@(sculptures[imageNumber].Name)</h4>
                </div>
            }
        </div>
    </div>
</div>