<div class="featured-info row">
    <div class="col">
        Featured Info
    </div>

    <div class="col">
        Featured Info
    </div>

    <div class="col">
        Featured Info
    </div>
</div>