<div class="featured-items row">
    <div class="col">
        Featured Items
    </div>

    <div class="col">
        Featured Items
    </div>
    
    <div class="col">
        Featured Items
    </div>
</div>