@{
    var random = new Random();
    var randomImage = random.Next(1, 17);
}

<div class="row align-items-md-center border py-5">
    <div class="col-12 col-lg-6 d-flex flex-column align-items-center">
        <h4 class="fs-2 fw-bold mb-4">Featured Products</h4>
        <img src="~/images/product-items/@(randomImage).png" alt="Alternate Text" height="350" class="border shadow" />
    </div>

    <div class="col-12 col-lg-6">
        <div class="row row-cols-2 row-cols-sm-3">

            @for (int i = 1; i < 7; i++)
            {
                var imageNumber = random.Next(1, 16);

                <div class="col d-flex flex-column gap-2 align-items-center g-5">
                    <img class="shadow" src="~/images/product-items/@(imageNumber).png" alt="Handmade Craft @(imageNumber)" height="150" class="border" />
                    <h4 class="fs-6 fw-semibold mb-0 text-body-emphasis">Handmade Craft @(imageNumber)</h4>
                </div>
            }
        </div>
    </div>
</div>
