<div class="featured-info row my-5 p-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h2 class="display-6 display-lg-5 fw-bold lh-1 mb-3 text-body-emphasis">Discover the Beauty of Artisan Handcrafted Goods</h2>
        <p class="fs-5 mb-3">
            When you choose artisan-crafted goods, you embrace more than just an item—you embrace a piece of history, a narrative of dedication,
            and a commitment to quality. Each product is imbued with character and charm,
            reflecting the artist’s personal touch and the rich heritage of their craft.
        </p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <a asp-page="/Contact#contact-form"><button type="button" class="btn btn-secondary btn-lg px-4 me-md-2 fw-bold">Contact us</button></a>
        </div>
    </div>

    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="/images/product-items.jpeg" alt="" width="100%">
    </div>
</div>