
        <div class="row text-center mb-4">
            <div class="col-lg-3 col-sm-6">
                <p><i class="fas fa-shipping-fast"></i> Free Shipping</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <p><i class="fas fa-clock"></i> 24 Hours Support</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <p><i class="fas fa-gift"></i> Gift for Friends</p>
            </div>
        </div>