<div class="info-banner row">
    <div class="col">
        Info Banner
    </div>

    <div class="col">
        Info Banner
    </div>
    
    <div class="col">
        Info Banner
    </div>
</div>