<div class="featured-info py-5 bg-light">
    <div class="row w-100">
        <div class="col-lg-4 col-sm-12">
            <div class="d-flex justify-content-center align-items-center">
                <i class="text-primary bi bi-truck display-3 fw-bold me-5"></i>
                <span class="fs-4 fw-bold">Free Shipping</span>
            </div>
        </div>

        <div class="col-lg-4 col-sm-12">
            <div class="d-flex justify-content-center align-items-center">
                <i class="text-primary bi bi-headset display-3 fw-bold me-5"></i>
                <span class="fs-4 fw-bold">24 Hours Support</span>
            </div>
        </div>

        <div class="col-lg-4 col-sm-12">
            <div class="d-flex justify-content-center align-items-center">
                <i class="text-primary bi bi-gift-fill display-3 fw-bold me-5"></i>
                <span class="fs-4 fw-bold">Gift for Friends</span>
            </div>
        </div>
    </div>
</div>
