<div class="product-items row">
    <div class="col">
        Product Items
    </div>

    <div class="col">
        Product Items
    </div>
    
    <div class="col">
        Product Items
    </div>
</div>