@page
@model KhumaloCraft.Pages.Work.IndexModel
@{
    ViewData["Title"] = "My work";
}

<div class="work">
    <div class="row align-items-center justify-content-center text-center text-lg-start top-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 py-5">
            <h2 class="fs-1 fw-bold lh-1 mb-3">Products</h2>

            <p class="fs-5 mb-4">
                Our merchandise is meticulously handcrafted by talented artisans from Southern Africa, using materials sourced locally. These unique items reflect the vibrant spirit and culture of our diverse nation. Each product we offer carries a distinctive African touch, yet appeals to a global audience.
            </p>
        </div>

        <div class="col-lg-4 offset-lg-2">
            <img class="shadow" src="/images/product-items.jpeg" alt="" width="100%">
        </div>
    </div>

    <div class="row">
        @await Html.PartialAsync("../Shared/Components/_ProductItems.cshtml", Model.ProductList)
    </div>

    <div class="row top-5">
        @await Html.PartialAsync("../Shared/Components/_InfoBanner.cshtml")
    </div>
</div>
