html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* home css here */
.home {
  
}

/* about css here */
.about {
  
}

/* work css here */
.work {
  
}

/* contact css here */
.contact {
  
}

/* featured-info css here */
.featured-info {

}

/* featured-items css here */
.featured-items {

}

/* info-banner css here */
.info-banner {

}

/* product-items css here */
.product-items {

}

/* navbar */
.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}


.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #00aaff;
  transition: width 0.3s ease;
}


.nav-link:hover::after {
  width: 100%;
}


.nav-link.active::after {
  width: 100%;
}

/* logo size */
.logo-img {
  width: 70px;
}


@media (max-width: 768px) {
  .logo-img {
      width: 60px;
  }
}

@media (max-width: 576px) {
  .logo-img {
      width: 50px;
  }
}