@page
@{
  ViewData["Title"] = "About us";
}

<div class="about">
  <div class="row flex-lg-row-reverse align-items-center g-5 top-5">
    <div class="col-lg-6">
      <img src="~/images/shop.jpg" class="d-block mx-auto img-fluid rounded shadow" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>

    <div class="col-lg-6">
      <h1 class="text-left display-5 fw-bold text-body-emphasis lh-1 mb-3">About us</h1>
      <p class="fs-5 text-left">
        I’m James, the founder of Khumalo Craft, and I’m thrilled to share our story with you. At Khumalo Craft, we celebrate the artistry of handcrafted creations, bringing together traditional techniques and contemporary design in a collection that’s truly unique.
      </p>

      <p class="fs-5 text-left">
        My journey began with a deep appreciation for the beauty and skill involved in artisanal craftsmanship. Growing up, I was surrounded by the vibrant culture of traditional crafts,
        and I’ve always admired the meticulous care and creativity that artisans pour into their work.
        This admiration turned into a passion, and eventually, Khumalo Craft was born out of a desire to honor these age-old traditions while integrating modern design sensibilities.
      </p>

      <p class="fs-5 text-left">Every piece in our collection is a labor of love, meticulously crafted by skilled artisans who share my dedication to quality and innovation.
        I’m personally involved in selecting each item, ensuring that it embodies the perfect blend of traditional artistry and contemporary flair.
        Our goal is to offer you not just beautiful pieces, but ones that tell a story and connect you to a rich heritage.

      <p class="fs-5 text-left">Thank you for visiting Khumalo Craft and for being a part of this journey. I invite you to explore our collection and discover the beauty and craftsmanship that make our creations truly exceptional.</p>
    </div>

    <hr class="featurette-divider">

    <div class="top-5 py-5">
      <div class="row featurette">
        <div class="col-12 col-lg-6 order-1 order-md-1">
          <span class="lead"><em>June 2023</em></span>
          <h2 class="featurette-heading">Discover Our Latest Creations</h2>
          <p class="fs-5">
            We’re thrilled to unveil our newest collection of handcrafted masterpieces at Khumalo Craft.
            Each piece in this fresh release showcases innovative designs and exceptional craftsmanship, blending tradition with contemporary flair. From striking home decor to unique statement pieces,
            these new additions are sure to inspire and captivate. Explore our latest offerings and find the perfect piece to elevate your space and celebrate the art of fine craftsmanship.
          </p>

          <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
            <a asp-page="/Work">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">See more</button>
            </a>
          </div>
        </div>

        <div class="col-12 col-lg-6 order-0 order-md-2 mb-4">
          <img class="featurette-image img-fluid mx-auto rounded shadow" src="~/images/product-items-3.jpeg" alt="500x500" style="width: 500px; height: 500px;">
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="top-5 py-5">
      <div class="row featurette">
        <div class="col-12 col-lg-6 order-1 order-md-2">
          <span class="lead"><em>August 2022</em></span>
          <h2 class="featurette-heading">Embrace the Spirit of New Tribal-Inspired Designs</h2>
          <p class="fs-5">We’re thrilled to introduce our newest collection, inspired by the rich heritage and vibrant artistry of tribal craftsmanship.
            Our latest releases blend traditional tribal motifs with contemporary design, resulting in pieces that are both striking and meaningful.
            Each creation reflects the soul and stories of ancient cultures, reimagined for today’s aesthetic.
            Discover the unique beauty and cultural depth of our new tribal-inspired designs, and find a piece that resonates with your own sense of artistry and connection.</p>

          <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
            <a asp-page="/Work">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">See more</button>
            </a>
          </div>
        </div>

        <div class="col-12 col-lg-6 order-0 order-md-1 mb-4">
          <img class="featurette-image img-fluid mx-auto rounded shadow" src="~/images/product-items-4.jpeg" alt="500x500" style="width: 500px; height: 500px;">
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row top-5 py-5">
      @await Html.PartialAsync("Shared/Components/_FeaturedItems.cshtml")
    </div>

    <div class="row top-5">
      @await Html.PartialAsync("Shared/Components/_InfoBanner.cshtml")
    </div>
  </div>
</div>
