@page
@model ContactModel
@{
    ViewData["Title"] = "Contact us";
}

<div class="contact">
    <div class="row flex-lg-row-reverse align-items-center py-5 my-5">
        <div class="col-lg-6 order-1 order-lg-0">
            <div class="d-flex flex-column justify-content-center px-5 offset-lg-3">
                <div class="text-center text-lg-start mb-3">
                    <h5 class="fs-2 fw-bold">Chat with us</h5>

                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <i class="fs-4 bi bi-telephone pe-2"></i>
                        <p><a class="text-decoration-none fs-5 fw-bold " href="tel:0212345678">(021) 234-5678</a></p>
                    </div>

                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <i class="fs-4  bi bi-envelope pe-2"></i>
                        <p><a class="text-decoration-none text-wrap fs-5 fw-bold " href="mailto:sales@khumalocraftemporium.com">sales@khumalocraft.com</a></p>
                    </div>

                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <i class="fs-4 bi bi-geo-alt-fill pe-2"></i>
                        <p class="fs-5 fw-bold text-decoration-none">
                            301, Emporium road <br>
                            Cape Town CBD <br>
                            Western Cape <br>
                            South Africa <br>
                            8001
                        </p>
                    </div>
                </div>

                <div class="text-center text-lg-start">
                    <h5 class="fs-2 fw-bold">Find us on</h5>

                    <div class="d-flex gap-4 justify-content-center justify-content-lg-start">
                        <a href="#"><i class="fs-1 bi bi-facebook"></i></a>
                        <a href="#"><i class="fs-1 bi bi-twitter"></i></a>
                        <a href="#"><i class="fs-1 bi bi-instagram"></i></a>
                        <a href="#"><i class="fs-1 bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 order-0 order-lg-1 mb-5">
            <form>
                <div class="form-group mb-4">
                    <label class="fw-bold">Name</label>
                    <input type="text" class="form-control" placeholder="Enter name">
                </div>

                <div class="form-group mb-4">
                    <label class="fw-bold">Email</label>
                    <input type="email" class="form-control" placeholder="Enter email">
                </div>

                <div class="form-group mb-4">
                    <label class="fw-bold">Contact</label>
                    <input type="text" class="form-control" placeholder="Enter contact">
                </div>

                <div class="form-group mb-4">
                    <label class="fw-bold">Message</label>
                    <textarea class="form-control" placeholder="Write your message"></textarea>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary" type="button">Submit</button>
                </div>
            </form>
        </div>
    </div>

    @await Html.PartialAsync("Shared/Components/_FeaturedItems.cshtml")
    @await Html.PartialAsync("Shared/Components/_FeaturedInfo.cshtml")
    @await Html.PartialAsync("Shared/Components/_InfoBanner.cshtml")
</div>
