@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="home">
  <div class="row flex-lg-row-reverse align-items-center justify-content-center top-5 text-center text-lg-start">
    <div class="col-10 col-sm-8 col-lg-6">
      @await Html.PartialAsync("Shared/Components/_ProductItemSlider.cshtml")
    </div>

    <div class="col-lg-6">
      <h1 class="fs-1 fw-bold lh-1 mb-3">Handcrafted treasures<br> <span class="display-6">Inspired by creativity</span></h1>

      <p class="fs-5 mb-4">KhumaloCraft is a unique business that specializes in hand-crafted designs, celebrating the art of craftsmanship
        and the beauty of personalized creations.
        Each piece is meticulously crafted by skilled artisans, ensuring that every item reflects quality and creativity.
      </p>

      <div class="d-grid gap-2 d-md-flex justify-content-center justify-content-lg-start">
        <a asp-page="/Work">
          <button type="button" class="btn btn-outline-primary btn-lg px-4">Shop</button>
        </a>
      </div>
    </div>
  </div>

  <div class="row top-5">
    @await Html.PartialAsync("Shared/Components/_FeaturedItems.cshtml")
  </div>

  <div class="row top-5">
    @await Html.PartialAsync("Shared/Components/_FeaturedInfo.cshtml")
  </div>

  <div class="row top-1">
    @await Html.PartialAsync("Shared/Components/_InfoBanner.cshtml")
  </div>


</div>
